<app-hero></app-hero>

<main class="content-wrap">

  <section class="services">

      <div class="container">

          <div class="row">
              <div class="col-sm-12 text-center mb-5 wow zoomIn" style="visibility: visible; animation-name: zoomIn;">
                  <h2 class="section-title">
                      Services
                  </h2>
                  <span class="background-text">services</span>
              </div>
          </div>
          <!-- END row-->

          <div class="row content-container">
              <div class="col-md-6">
                  <h3 class="pb-4">Private Tutoring</h3>
                  <p>I offer two different tutoring packages. The first is a one on one basis that can range to
                      multiple times a week to once a month. The second is a group package that is designed for
                      2-5 individuals once a week.</p>
                  <p>Both packages provides a lifetime access to all learning materials and code repositories.
                      They also come with certificates of completion for each course completed.</p>
                  <a class="btn btn-custom" href="Curriculum.html">Learn What I Teach</a>
              </div>
              <div class="col-md-6">
                  <img src="../../../../assets/images/Learn.png">
              </div>
          </div>
          <div class="row content-container mt-6">
              <div class="col-md-6 text-center">
                  <img src="../../../../assets/images/SoloTut.png" class="img-md">
              </div>
              <div class="col-md-6">
                  <h3 class="pb-4">Freelance Web Site/App Development</h3>
                  <p>I offer both hourly and project based freelance web development services, from small touch up
                      work on an existing website
                      to taking a website concept and creating a modern sleek masterpiece. I offer flexible rate
                      packages that
                      can accommodate any need or circumstance. </p>
                  <p>Please contact me for further information.</p>
                  <a class="btn btn-custom" routerLink="/contact">Contact Me</a>
              </div>
          </div>
      </div>
      <!-- END container-->
  </section>

</main>