<div class="container mt-5 d-flex pb-5 site-content">
  <div class="row align-items-center h-100 w-100 mb-5">
    <div class="col">
      <div class="card card-content card-nonhover">
        <div class="card-body">
          <div class="container">
            <div class="row companyTitleRow">
              <div class="col">
                <div class="special-heading d-flex align-items-center">
                  <h1 class="mr-auto">Invoices</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
