<app-hero></app-hero>

<main class="content-wrap">
  <section class="about-me"  id="about">
      <div class="container" #about>
          <div class="row">
              <div class="col-sm-12 text-center mb-5 wow zoomIn">
                  <h2 class="section-title">
                      About Me
                  </h2>
                  <span class="background-text">about</span>
              </div>
          </div>
          <div class="row">
              <div class="col-md-4">
                  <img class="personalImage" src="../../../../assets/images/profilePic.jpg">
              </div>
              <div class="col-md-8">
                  <p class="lead my-4">
                      Hello, I’m
                      <strong>Charles Lang</strong>, a Web Application Developer based in the USA with a passion in
                      web technologies and education! I started
                      <b>six47</b> to help people find an interest in web development and further their skills in web
                      technologies. You can find more about me &amp; six47 on
                      <a href="fb.me/six47WebServices" class="facebook-link">Facebook</a> and
                      <a href="https://twitter.com/six47WebService" class="twitter-link">Twitter</a>.
                  </p>

                  <p class="mb-5">
                      six47 is a leading edge private tutoring company focused on teaching the many different web technologies out there. I believe
                      I can help anyone become proficient in a multitude of web technologies through my self made curriculum.
                      Classes are designed to reach wide ranging age groups, yet tailored to your specific needs.
                  </p>

                  <h4>Personal Contact Information</h4>
                  <ul class="personal-info list-inline clearfix mb-5">
                      <li>
                          <strong>Full Name :</strong> Charles Lang</li>
                      <li>
                          <strong>Address :</strong> Englewood, Colorado</li>
                      <li>
                          <strong>Phone :</strong> (303) 356-6221</li>
                      <li>
                          <strong>Email :</strong>
                          <a href="mailto:six47WebServices@gmail.com">six47WebServices@gmail.com</a>
                      </li>
                      <li>
                          <strong>Job :</strong> Web Application Developer</li>
                  </ul>
              </div>
          </div>
      </div>
  </section>

  <section class="my-skills bg-gray">
      <div class="container">

          <div class="row">
              <div class="col-sm-12 text-center mb-5 wow zoomIn">
                  <h2 class="section-title">
                      My Skills
                  </h2>
                  <span class="background-text">my Skills</span>
              </div>
          </div>

          <div class="row">

              <div class="col-md-6 pt-4">
                  <h4 class="block-title">Front End Skills</h4>

                  <div class="skill wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
                      <p class="skill-name">HTML 5</p>
                      <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="90" style="width: 90%;">
                              <span class="progress-tooltip" style="left:90%">90%</span>
                          </div>
                      </div>
                  </div>
                  <!-- END skill-->

                  <div class="skill">
                      <p class="skill-name">JavaScript</p>
                      <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="80" style="width: 80%;">
                              <span class="progress-tooltip" style="left:80%">80%</span>
                          </div>
                      </div>
                  </div>
                  <!-- END skill-->

                  <div class="skill">
                      <p class="skill-name">CSS</p>
                      <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="95" style="width: 95%;">
                              <span class="progress-tooltip" style="left:95%">95%</span>
                          </div>
                      </div>
                  </div>
                  <!-- END skill-->

                  <div class="skill">
                      <p class="skill-name">jQuery</p>
                      <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="75" style="width: 75%;">
                              <span class="progress-tooltip" style="left:75%">75%</span>
                          </div>
                      </div>
                  </div>
                  <!-- END skill-->

                  <div class="skill">
                      <p class="skill-name">Less/Sass</p>
                      <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="95" style="width: 95%;">
                              <span class="progress-tooltip" style="left:95%">95%</span>
                          </div>
                      </div>
                  </div>
                  <!-- END skill-->

                  <div class="skill">
                      <p class="skill-name">Angular 7</p>
                      <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="85" style="width: 85%;">
                              <span class="progress-tooltip" style="left:85%">85%</span>
                          </div>
                      </div>
                  </div>
                  <!-- END skill-->

                  <div class="skill">
                      <p class="skill-name">NativeScript</p>
                      <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="45" style="width: 45%;">
                              <span class="progress-tooltip" style="left:45%">45%</span>
                          </div>
                      </div>
                  </div>
                  <!-- END skill-->

              </div>
              <!-- END col-md-6 -->

              <div class="col-md-6 pt-4">

                  <h4 class="block-title">Back End Skills</h4>

                  <div class="skill">
                      <p class="skill-name">Node.js</p>
                      <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="80" style="width: 80%;">
                              <span class="progress-tooltip" style="left:80%">80%</span>
                          </div>
                      </div>
                  </div>
                  <!-- END skill-->

                  <div class="skill">
                      <p class="skill-name">C#</p>
                      <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="45" style="width: 45%;">
                              <span class="progress-tooltip" style="left:45%">45%</span>
                          </div>
                      </div>
                  </div>
                  <!-- END skill-->

                  <div class="skill">
                      <p class="skill-name">SQL</p>
                      <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="75" style="width: 75%;">
                              <span class="progress-tooltip" style="left:75%">75%</span>
                          </div>
                      </div>
                  </div>
                  <!-- END skill-->

                  <div class="skill">
                      <p class="skill-name">MySQL</p>
                      <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="95" style="width: 95%;">
                              <span class="progress-tooltip" style="left:95%">95%</span>
                          </div>
                      </div>
                  </div>
                  <!-- END skill-->

                  <div class="skill">
                      <p class="skill-name">MongoDB</p>
                      <div class="progress">
                          <div class="progress-bar" role="progressbar" aria-valuenow="85" style="width: 85%;">
                              <span class="progress-tooltip" style="left:85%">85%</span>
                          </div>
                      </div>
                  </div>
                  <!-- END skill-->

              </div>
              <!-- END col-md-6 -->
          </div>
      </div>
      <!-- END row-->
  </section>

  <section class="work-experience ">
      <div class="container">

          <div class="row">
              <div class="col-sm-12 text-center mb-5 wow zoomIn" style="visibility: visible; animation-name: zoomIn;">
                  <h2 class="section-title">
                      Work experience
                  </h2>
                  <span class="background-text">work experience</span>
              </div>
          </div>
          <!-- END row-->

          <div class="row">

              <div class="col-md-6 mt-5">
                  <div class="work-exp-block wow fadeIn" data-wow-duration="1s" data-wow-delay=".1s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: fadeIn;">
                      <h4 class="block-title">Web Developer</h4>
                      <h6 class="company-name color-text">Spectrum Graphics</h6>
                      <div class="working-duration">
                          2014-2015
                      </div>
                      <p>
                          As a solo Web Developer, I created and maintained an online e-commerce website that was used to sell signage to local businesses.
                      </p>
                  </div>
                  <!-- END work-exp-block-->
              </div>
              <!-- END col-md-6 -->

              <div class="col-md-6 mt-5">
                  <div class="work-exp-block wow fadeIn" data-wow-duration="1s" data-wow-delay=".2s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.2s; animation-name: fadeIn;">
                      <h4 class="block-title">Wordpress Developer</h4>
                      <h6 class="company-name color-text">The Go Solution</h6>
                      <div class="working-duration">
                          2015 - 2016
                      </div>
                      <p>
                          As one of two web developers, I was responsible for creating and maintaining many different websites to market our many products.
                      </p>
                  </div>
                  <!-- END work-exp-block-->
              </div>
              <!-- END col-md-6 -->

          </div>
          <!-- END row-->

          <div class="row">

              <div class="col-md-6 mt-5">
                  <div class="work-exp-block wow fadeIn" data-wow-duration="1s" data-wow-delay=".3s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeIn;">
                      <h4 class="block-title">Web App Developer</h4>
                      <h6 class="company-name color-text">Milestone Tech</h6>
                      <div class="working-duration">
                          2016 - 2017
                      </div>
                      <p>
                          As a Web Application Developer, I was on a team, responsible for creating and maintaining our online web solutions that consisted of over 1.5 millions lines of code. 
                      </p>
                  </div>
                  <!-- END work-exp-block-->
              </div>
              <!-- END col-md-6 -->

              <div class="col-md-6 mt-5">
                  <div class="work-exp-block wow fadeIn" data-wow-duration="1s" data-wow-delay=".4s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.4s; animation-name: fadeIn;">
                      <h4 class="block-title">Web Developer</h4>
                      <h6 class="company-name color-text">Canvas Credit Union</h6>
                      <div class="working-duration">
                          2018 - Present
                      </div>
                      <p>
                          As one of two Web Developers, I am responsible for creating and maintaining our online presence, along with many proprietary web applications.
                      </p>
                  </div>
                  <!-- END work-exp-block-->
              </div>
              <!-- END col-md-6 -->

          </div>
          <!-- END row-->
      </div>
      <!-- END container-->
  </section>

  <section class="education bg-gray">
      <div class="container">

          <div class="row">
              <div class="col-sm-12 text-center mb-5 wow zoomIn" style="visibility: visible; animation-name: zoomIn;">
                  <h2 class="section-title">
                      education
                  </h2>
                  <span class="background-text">education</span>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6 mt-5">
                  <div class="edu-block wow fadeIn" data-wow-duration="1s" data-wow-delay=".1s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: fadeIn;">
                      <p class="edu-session">2012 - 2014</p>
                      <div class="edu-info-text">
                          <h4 class="block-title">Computer Science &amp; Engineering</h4>
                          <h6 class="institute-name mb-4 mt-3">Arapahoe Community College</h6>
                      </div>
                  </div>
              </div>
              <div class="col-md-6 mt-5">
                  <div class="edu-block wow fadeIn" data-wow-duration="1s" data-wow-delay=".2s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.2s; animation-name: fadeIn;">
                      <p class="edu-session">2014 - 2016</p>
                      <div class="edu-info-text">
                          <h4 class="block-title">Software Engineering</h4>
                          <h6 class="institute-name mb-4 mt-3">Lonestar College</h6>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6 mt-5">
                  <div class="edu-block wow fadeIn" data-wow-duration="1s" data-wow-delay=".1s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: fadeIn;">
                      <p class="edu-session">Certification</p>
                      <div class="edu-info-text">
                          <h4 class="block-title">The Complete Web Developer</h4>
                          <h6 class="institute-name mb-4 mt-3">Udemy Online Course</h6>
                          <p>
                              Cert: <a href="https://www.udemy.com/certificate/UC-6R9MVDJF/" target="_blank">Udemy Cert</a>
                          </p>
                      </div>
                  </div>
              </div>
              <div class="col-md-6 mt-5">
                  <div class="edu-block wow fadeIn" data-wow-duration="1s" data-wow-delay=".2s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.2s; animation-name: fadeIn;">
                      <p class="edu-session">Certification</p>
                      <div class="edu-info-text">
                          <h4 class="block-title">The Developers Guide to MongoDB</h4>
                          <h6 class="institute-name mb-4 mt-3">Udemy Online Course</h6>
                          <p>
                              Cert: <a href="https://www.udemy.com/certificate/UC-IW398PKT/" target="_blank">Udemy Cert</a>
                          </p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6 mt-5">
                  <div class="edu-block wow fadeIn" data-wow-duration="1s" data-wow-delay=".1s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: fadeIn;">
                      <p class="edu-session">Certification</p>
                      <div class="edu-info-text">
                          <h4 class="block-title">The Complete Node.js Developer</h4>
                          <h6 class="institute-name mb-4 mt-3">Udemy Online Course</h6>
                          <p>
                              Cert: <a href="https://www.udemy.com/certificate/UC-B44M8T6N/" target="_blank">Udemy Cert</a>
                          </p>
                      </div>
                  </div>
              </div>
              <div class="col-md-6 mt-5">
                  <div class="edu-block wow fadeIn" data-wow-duration="1s" data-wow-delay=".2s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.2s; animation-name: fadeIn;">
                      <p class="edu-session">Certification</p>
                      <div class="edu-info-text">
                          <h4 class="block-title">GraphQL by Example</h4>
                          <h6 class="institute-name mb-4 mt-3">Udemy Online Course</h6>
                          <p>
                              Cert: <a href="https://www.udemy.com/certificate/UC-SPP7F58D/" target="_blank">Udemy Cert</a>
                          </p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
</main>