<app-hero></app-hero>

<main class="content-wrap">

  <section class="services">

      <div class="container">

          <div class="row mb-5">
              <div class="col-sm-12 text-center mb-5 wow zoomIn" style="visibility: visible; animation-name: zoomIn;">
                  <h2 class="section-title">
                      What I Teach
                  </h2>
                  <span class="background-text">services</span>
              </div>
          </div>
          <!-- END row-->

          <div class="row">

              <div class="col-md-4 text-center wow fadeIn" data-wow-duration="1s" data-wow-delay=".1s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: fadeIn;">
                  <div class="service-block equal-height" style="height: 374px;">
                      <div class="sr-icon">
                          <img src="../../../../assets/images/icons/sr1.png" alt="">
                      </div>
                      <h4 class="block-title">
                          Web UI/UX Design
                      </h4>
                      <p>
                          UI (User Interface) and UX (User Experience) play a major role in any application. I teach the fundamentals of the look and feel of web applications.
                      </p>
                  </div>
                  <!-- END service-block-->
              </div>
              <!-- END col-md-4 -->

              <div class="col-md-4 text-center wow fadeIn" data-wow-duration="1s" data-wow-delay=".2s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.2s; animation-name: fadeIn;">
                  <div class="service-block equal-height" style="height: 374px;">
                      <div class="sr-icon">
                          <img src="../../../../assets/images/icons/sr2.png" alt="">
                      </div>
                      <h4 class="block-title">
                          Web Design
                      </h4>
                      <p>
                          Any visually appealing web application starts with a simple design. I teach the fundamentals of design in the web world.
                      </p>
                  </div>
                  <!-- END service-block-->
              </div>
              <!-- END col-md-4 -->

              <div class="col-md-4 text-center wow fadeIn" data-wow-duration="1s" data-wow-delay=".3s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeIn;">
                  <div class="service-block equal-height" style="height: 374px;">
                      <div class="sr-icon">
                          <img src="../../../../assets/images/icons/sr3.png" alt="">
                      </div>
                      <h4 class="block-title">
                          Web Development
                      </h4>
                      <p>
                          I teach the coding skills and concepts necessary to build modern day websites.
                      </p>
                  </div>
                  <!-- END service-block-->
              </div>
              <!-- END col-md-4 -->

          </div>
          <!-- END row-->

          <div class="row">

              <div class="col-md-4 text-center wow fadeIn" data-wow-duration="1s" data-wow-delay=".1s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: fadeIn;">
                  <div class="service-block equal-height" style="height: 374px;">
                      <div class="sr-icon">
                          <img src="../../../../assets/images/icons/sr4.png" alt="">
                      </div>
                      <h4 class="block-title">
                          Web UX/UI Development
                      </h4>
                      <p>
                          I teach how to take a UX/UI design and make it a reality for the end user.
                      </p>
                  </div>
                  <!-- END service-block-->
              </div>
              <!-- END col-md-4 -->

              <div class="col-md-4 text-center wow fadeIn" data-wow-duration="1s" data-wow-delay=".2s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.2s; animation-name: fadeIn;">
                  <div class="service-block equal-height" style="height: 374px;">
                      <div class="sr-icon">
                          <img src="../../../../assets/images/icons/sr5.png" alt="">
                      </div>
                      <h4 class="block-title">
                          Web Plugin Development
                      </h4>
                      <p>
                          I teach how to build simple and reusable plugins for the web.
                      </p>
                  </div>
                  <!-- END service-block-->
              </div>
              <!-- END col-md-4 -->

              <div class="col-md-4 text-center wow fadeIn" data-wow-duration="1s" data-wow-delay=".3s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeIn;">
                  <div class="service-block equal-height" style="height: 374px;">
                      <div class="sr-icon">
                          <img src="../../../../assets/images/icons/sr6.png" alt="">
                      </div>
                      <h4 class="block-title">
                          Web App Development
                      </h4>
                      <p>
                          Web applications can be as simple as a website or as complex as an enterprise level account app. I teach the skills and concepts required to build enterprise level web applications.
                      </p>
                  </div>
                  <!-- END service-block-->
              </div>
              <!-- END col-md-4 -->

          </div>
          <!-- END row-->
      </div>
      <!-- END container-->
  </section>

  <section class="my-interest bg-gray">

      <div class="container">

          <div class="row mb-5">
              <div class="col-sm-12 text-center mb-5 wow zoomIn">
                  <h2 class="section-title">
                      Curriculum
                  </h2>
                  <span class="background-text">Curriculum</span>
              </div>
          </div>
          <!-- END row-->

          <div class="row d-flex justify-content-center">

              <div class="col-lg-4 col-md-4 wow slideInUp">
                  <div class="card interest-block">
                      <div class="card-header">
                          <i class="fab fa-html5 fa-5x html-Icon"></i>
                      </div>
                      <div class="card-body">HTML 5</div>
                  </div>
              </div>

              <div class="col-lg-4 col-md-4 wow slideInUp">
                  <div class="card interest-block">
                      <div class="card-header">
                          <i class="fab fa-css3-alt fa-5x css-Icon"></i>
                      </div>
                      <div class="card-body">CSS 3</div>
                  </div>
              </div>

              <div class="col-lg-4 col-md-4 wow slideInUp">
                  <div class="card interest-block">
                      <div class="card-header ">
                          <i class="fab fa-js-square fa-5x js-Icon"></i>
                      </div>
                      <div class="card-body">JavaScript</div>
                  </div>
              </div>

          </div>
          <!-- END row-->

          <div class="row d-flex justify-content-center mt-3">


              <div class="col-lg-4 col-md-4 wow slideInUp">
                  <div class="card interest-block">
                      <div class="card-header">
                          <i class="fab fa-node-js fa-5x node-Icon"></i>
                      </div>
                      <div class="card-body">Node.js</div>
                  </div>
              </div>

              <div class="col-lg-4 col-md-4 wow slideInUp">
                  <div class="card interest-block">
                      <div class="card-header">
                          <i class="fab fa-angular angular-Icon fa-5x"></i>
                      </div>
                      <div class="card-body">Angular 7</div>
                  </div>
              </div>

              <div class="col-lg-4 col-md-4 wow slideInUp">
                  <div class="card interest-block">
                      <div class="card-header">
                          <img src="../../../../assets/images/mongodb.png" alt="" wdith="80px" height="80px">
                      </div>
                      <div class="card-body">MongoDB</div>
                  </div>
              </div>
          </div>

      </div>
      <!-- END container-->
  </section>

  <section class="my-interest">

      <div class="container">

          <div class="row">
              <div class="col-sm-12 text-center mb-5 wow zoomIn">
                  <h2 class="section-title">
                      Courses
                  </h2>
                  <span class="background-text">courses</span>
              </div>
          </div>
          <!-- END row-->

          <div class="row p-5 border-bottom">
              <div class="col-sm-6 mb-2 wow zoomIn">
                  <h3>Web Development From the Ground Up</h3>

                  <p>In this course we explore the basic fundamentals of web development and continue through the complexities of the web to reach our final destination 
                      and understand the complex fundamentals that every successfully web developer needs to live and breath. By the end of this course you will be able to create functional websites and web applications.
                  </p>
                  <p>Languages/Skills Covered</p>
                  <ul>
                      <li>HTML5</li>
                      <li>Bootstrap 4</li>
                      <li>Basic CSS</li>
                  </ul>
              </div>
              <div class="col-sm-1"></div>
              <div class="col-sm-5 mb-2 wow zoomIn text-center">
                  <img src="../../../../assets/images/Courses/WebDevelopment.png" alt="" height="300px">
              </div>
          </div>
          <div class="row p-5 border-bottom">
              <div class="col-sm-6 order-sm-12 mb-2 wow zoomIn">
                  <h3>Climbing the Mountain of CSS</h3>
                  <p>In this course we take our skills to the next level and learn how to build not just functionally pleasing web site and web applications but immaculate pieces of artwork. Our website and web applications are already naturally visually appealing, but what if we take what is already beautiful and raise the bar a few notches. By the end of this course you will understand complex styling concepts.</p>
                  <p>Languages/Skills Covered</p>
                  <ul>
                      <li>Advanced CSS</li>
                      <li>CSS Preprocessor</li>
                      <li>CSS Frameworks</li>
                  </ul>
              </div>
              <div class="col-sm-1 order-sm-6"></div>
              <div class="col-sm-5 order-sm-1 mb-2 wow zoomIn text-center">
                  <img src="../../../../assets/images/Courses/Css.png" alt="" height="300px">
              </div>
          </div>
          <div class="row p-5 border-bottom">
              <div class="col-sm-6 mb-2 wow zoomIn">
                  <h3>Decoding Javscript</h3>
                  <p>In this course we will learn how to add some pop, motion and functionality to our websites and web applications. We will take our beautiful websites and web applications and add some real functionality to them.</p>
                  <p>Languages/Skills Covered</p>
                  <ul>
                      <li>JavaScript</li>
                      <li>JQuery</li>
                  </ul>
              </div>
              <div class="col-sm-1"></div>
              <div class="col-sm-5 mb-2 wow zoomIn text-center">
                  <img src="../../../../assets/images/Courses/javascript.png" alt="" height="300px">
              </div>
          </div>
          <div class="row p-5 border-bottom">
              <div class="col-sm-6 order-sm-12 mb-2 wow zoomIn">
                  <h3>Getting a better Angle with Angular</h3>
                  <p>In this course we will learn everything there is to know about Angular. We will learn what as Web Development Framework is and why we use them. Angular is a platform that makes it easy to build applications within the web world. We will harness the power of angular to overcome the many different development challenged web developers face.</p>
                  <p>Languages/Skills Covered</p>
                  <ul>
                      <li>Angular 7</li>
                      <li>Angular CLI</li>
                  </ul>
              </div>
              <div class="col-sm-1 order-sm-6"></div>
              
              <div class="col-sm-5 order-sm-1 mb-2 wow zoomIn text-center">
                  <img src="../../../../assets/images/Courses/angular.png" alt="" height="300px">
              </div>
              
          </div>
          <div class="row p-5 border-bottom">
              <div class="col-sm-6 mb-2 wow zoomIn">
                  <h3>Getting mean with the MEAN stack</h3>
                  <p>In this course we will take it its overdrive and learn the backend of the web development world. We will learn what an API is and how to build our very own. We will tie our frontend websites and web applications into our backend server to create a complete and finished product.</p>
                  <p>Languages/Skills Covered</p>
                  <ul>
                      <li>MongoDB</li>
                      <li>Express</li>
                      <li>Angular 7</li>
                      <li>Node.js</li>
                  </ul>
                  
              </div>
              <div class="col-sm-1"></div>
              <div class="col-sm-5 mb-2 wow zoomIn text-center">
                  <img src="../../../../assets/images/Courses/mean.png" alt="" height="300px">
              </div>
          </div>
          <div class="row p-5">
              <div class="col-md-6 order-sm-12 mb-2 wow zoomIn">
                  <h3>Unveiling the Mysteries of TypeScript</h3>
                  <p>In this course we will dive into typescript and why we should use it. As we travel through the course we will become proficient and comfortable using TypeScript. We will learn the pros and cons to using typeScript over JavaScript. </p>
                  <p>Languages/Skills Covered</p>
                  <ul>
                      <li>TypeScript</li>
                  </ul>
              </div>
              <div class="col-md-1 order-sm-6"></div>
              <div class="col-md-5 order-sm-1 mb-2 wow zoomIn text-center">
                  <img src="../../../../assets/images/Courses/typescript.png" alt="" height="300px">
              </div>
          </div>
      </div>
  </section>

</main>