<section class="intro-hero">
  <div class="container">
      <div class="row">
          <div class="col-sm-12 text-center">
              <img class="intro-hero-img" src="../../../assets/images/profilePic.jpg" alt="">
              <h1 class="hero-title">Hello , I’m
                  <strong>Charles Lang</strong>
              </h1>
              <p class="hero-tagline">
                  I am
                  <span class="typed"></span>
              </p>
          </div>
          <!-- END col-sm-12-->
      </div>
      <!-- END row-->
  </div>
</section>