.navbar {
    background-color: rgb(255, 255, 255) !important;
    border-bottom: 1px solid rgb(230, 230, 230);
    padding: 1rem 1rem;
}

.navbar-brand {
    font-size: 25px;
    color: rgb(83, 83, 83);
}

.search-input {
    border-radius: 25px;
}

.form-group {
     margin-bottom: 0px;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}