<app-hero></app-hero>

<main class="content-wrap">

  <section class="services">

      <div class="container">

          <div class="row mb-5">
              <div class="col-sm-12 text-center mb-5 wow zoomIn" style="visibility: visible; animation-name: zoomIn;">
                  <h2 class="section-title">
                      Pricing
                  </h2>
                  <span class="background-text">pricing</span>
              </div>
          </div>
          <!-- END row-->

          <div class="row flex-items-xs-middle flex-items-xs-center">
              <!-- Table #1  -->
              <div class="col-xs-12 col-lg-4">
                  <div class="card text-xs-center">
                      <div class="card-header">
                          <h3 class="display-2"><span class="currency">$</span>50<span class="period">/hour</span></h3>
                      </div>
                      <div class="card-block">
                          <h4 class="card-title">
                              Private Tutoring
                          </h4>
                          <ul class="list-group">
                              <li class="list-group-item">Course Content</li>
                              <li class="list-group-item">24/hr Support</li>
                              <li class="list-group-item">Build Multiple Websites</li>
                              <li class="list-group-item">Cutting Edge Technology</li>
                          </ul>
                          <a routerlink="/contact" class="btn btn-gradient mt-2">Choose Plan</a>
                      </div>
                  </div>
              </div>
              <!-- Table #1  -->
              <div class="col-xs-12 col-lg-4">
                  <div class="card text-xs-center">
                      <div class="card-header">
                          <h3 class="display-2"><span class="currency">$</span>65<span class="period">/hour</span></h3>
                      </div>
                      <div class="card-block">
                          <h4 class="card-title">
                              Freelance Work (hourly)
                          </h4>
                          <ul class="list-group">
                              <li class="list-group-item">Code Ownership</li>
                              <li class="list-group-item">24/hr Support</li>
                              <li class="list-group-item">Responsive First Designs</li>
                              <li class="list-group-item">Hosting Support</li>
                          </ul>
                          <a routerlink="/contact" class="btn btn-gradient mt-2">Choose Plan</a>
                      </div>
                  </div>
              </div>
              <!-- Table #1  -->
              <div class="col-xs-12 col-lg-4">
                  <div class="card text-xs-center">
                      <div class="card-header">
                          <h3 class="display-2"><span class="currency">$</span>~<span class="period">/project</span></h3>
                      </div>
                      <div class="card-block">
                          <h4 class="card-title">
                              Freelance Work (Project)
                          </h4>
                          <ul class="list-group">
                              <li class="list-group-item">Code Ownership</li>
                              <li class="list-group-item">24/hr Support</li>
                              <li class="list-group-item">Responsive First Designs</li>
                              <li class="list-group-item">Hosting Support</li>
                          </ul>
                          <a routerlink="/contact" class="btn btn-gradient mt-2">Choose Plan</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row pt-2">
              <div class="col-md-12">
                  <small>*All prices are subject to change depending on the workload of the project. For the most
                      accurate pricing please contact me directly.</small>
              </div>
          </div>
      </div>
      <!-- END container-->
  </section>

</main>