<app-hero></app-hero>

<main class="content-wrap">

  <section class="services">

      <div class="container">

          <div class="row">
              <div class="col-sm-12 text-center mb-5 wow zoomIn" style="visibility: visible; animation-name: zoomIn;">
                  <h2 class="section-title">
                      Contact Me
                  </h2>
                  <span class="background-text">Contact Me</span>
              </div>
          </div>
          <!-- END row-->

          <div class="row">
              <div class="col-md-6">
                  <p>Feel free to contact me using the methods below or use my secure contact form to drop me a message. I will respond to any
                      contact
                      request within 24hrs.
                  </p>
                  <ul>
                      <li>
                          <strong>Phone :</strong> (303) 356-6221</li>
                      <li>
                          <strong>Email :</strong>
                          <a href="mailto:six47WebServices@gmail.com">six47WebServices@gmail.com</a>
                      </li>
                  </ul>
              </div>
              <div class="col-md-6">
                  <form method="POST" action="https://formspree.io/six47WebServices@gmail.com">
                      <div class="form-group">
                          <label for="exampleInputEmail1">Email</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                              placeholder="Enter email" name="email">
                          <small id="emailHelp" class="form-text text-muted">I'll never share your email with
                              anyone else.</small>
                      </div>
                      <div class="form-group">
                          <label for="content-form">Subject</label>
                          <textarea type="text" class="form-control" name="message" id="content-form" placeholder="Enter your message here."></textarea>
                      </div>
                      <button type="submit" class="btn btn-custom">Submit</button>
                  </form>
              </div>
          </div>
      </div>
      <!-- END container-->
  </section>

</main>